@mixin flexCenter() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexColumnCenter() {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin flexVerticalCenter() {
  display: flex;
  align-items: center;
}

@mixin flexHorizontalCenter() {
  display: flex;
  justify-content: center;
}