@import "../styles/colors";
@import "../styles/mixins";

#container {
  @include flexCenter();
  flex-direction: column;
  max-width: 600px;
  width: 90%;
  border-radius: 10px;
  border: $blackBorder;
  background-color: $white;
}